.btn {
  border: none;
  border-radius: 3px;
  padding: 5px 25px;
  background-color: var(--main-color);
  color: var(--button-color);
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
}

.delete-btn {
  margin-left: 10px;
  background-color: var(--button-delete-bg);
}

.btn-margin {
  margin-bottom: 10px;
}

.btn-filter {
  height: 31px;
  width: 210px;
  font-size: 12px;
  padding: 5px 22px 5px 12px;
  position: relative;
  margin-left: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-filter::after {
  content: '';
  position: absolute;
  top: 12px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--button-color);

}
